<?xml version="1.0"?>

<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:kindle="http://kindle.amazon.com/ns/widget-extensions"
    id="com.waf.vnds"
    version="1.0"
    viewmodes="application">
    
    <name>VNDS 1.0</name>
    <description>Visual Novel DS for KT</description>
    <content src="index.html"/>


 	<kindle:gestures>
        <param name="drag" value="yes"/>
        <kindle:param name="pinchzoom" value="yes" properties="fire-on-zoom:1"/>
        <param name="tap" value="yes"/>
        <param name="multi_tap" value="no"/>
        <param name="hold" value="yes"/>
		<param name="swipe" value="yes"/>
    </kindle:gestures>

	<feature name="http://kindle.amazon.com/apis" required="true">
        <param name="appmgr" value="yes"/>
        <param name="chrome" value="yes"/>
        <param name="dev" value="yes"/>
        <param name="download" value="yes"/>
        <param name="gestures" value="no"/>
        <param name="messaging" value="yes"/>
        <param name="net" value="yes"/>
        <param name="viewport" value="yes"/>
		<param name="popup" value="yes"/>
    </feature>

	<kindle:messaging>
  
   
		<kindle:app name="com.lab126.system" value="yes"/>
    </kindle:messaging>
		
	<kindle:resources>
        <kindle:asset key="LocalStoragePath" value="/mnt/us/extensions/VNDS/files/saves" />
	<!--	<kindle:asset key="DatabaseStoragePath" value="/mnt/us/extensions/VNDS/saves/LocalStorage" />
         
        Other available settings are
        LocalStorageQuota ( set the max size of the local storage DB)
        DatabaseStorageQuota ( set the html5 sqlite db quota)
        DatabaseStoragePath ( set where the html5 sqlite db is stored)
        ApplicationCacheQuota ( sets a max size of the application cache)          
        -->
    </kindle:resources>
		
	<kindle:chrome>
       	<kindle:asset key="configureSearchBar" value="none"/>
    </kindle:chrome>

</widget>
 
